__pycache__/*
*_Repeat.txt
*_Repeat_p.txt
filter_us.txt
filter_uk.txt
sentences.txt
*.srt
IELTS1000/*
ORCHARD3/*
ORCHARD4/*
ORCHARD5/*
ORCHARD6/*
ORCHARD7/*
PHRASE/*
Medium01/*
Medium02/*
SentenceStructure01/*